FFC_OPERATIONS_POSTGRES_DB=postgres
FFC_OPERATIONS_POSTGRES_USER=postgres
FFC_OPERATIONS_POSTGRES_PASSWORD=mysecurepass
FFC_OPERATIONS_POSTGRES_HOST=0.0.0.0
FFC_OPERATIONS_POSTGRES_PORT=5432
FFC_OPERATIONS_API_MODIFIER_BASE_URL=https://api-modifier.ffc.com
FFC_OPERATIONS_API_MODIFIER_JWT_SECRET=test_jwt_secret
