FFC_OPERATIONS_POSTGRES_DB=postgres
FFC_OPERATIONS_POSTGRES_USER=postgres
FFC_OPERATIONS_POSTGRES_PASSWORD=mysecurepass
FFC_OPERATIONS_POSTGRES_HOST=0.0.0.0
FFC_OPERATIONS_POSTGRES_PORT=5432
FFC_OPERATIONS_POSTGRES_TEST_PORT=65432
FFC_OPERATIONS_API_MODIFIER_BASE_URL=https://api-modifier.ffc.com
FFC_OPERATIONS_API_MODIFIER_JWT_SECRET=test_jwt_secret
FFC_OPERATIONS_SECRETS_ENCRYPTION_KEY=test_encryption_key
FFC_OPERATIONS_OPTSCALE_AUTH_API_BASE_URL=https://opt-auth.ffc.com/auth/v2
FFC_OPERATIONS_OPTSCALE_REST_API_BASE_URL=https://opt-api.ffc.com/restapi/v2
FFC_OPERATIONS_OPTSCALE_CLUSTER_SECRET=test_cluster_secret
FFC_OPERATIONS_AUTH_ACCESS_JWT_SECRET=auth_access_jwt_secret
FFC_OPERATIONS_AUTH_REFRESH_JWT_SECRET=auth_refresh_jwt_secret
FFC_AZURE_CONNECTION_STRING="DefaultEndpointsProtocol"
FFC_OPERATIONS_AZURE_CONTAINER_NAME="charges-file"
FFC_OPERATIONS_EXCHANGE_RATE_API_BASE_URL=https://v6.exchangerate-api.com/v6
FFC_OPERATIONS_EXCHANGE_RATE_API_TOKEN=my_exchange_rate_api_token
FFC_OPERATIONS_CLI_RICH_LOGGING=True
FFC_OPERATIONS_AZURE_SA_URL="http://127.0.0.1:10000/devstoreaccount1"
